@mixin default-card {
  width: 400px;
  border-radius: 19px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  background-color: $white;
}

@mixin square-card {
  width: 400px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  background-color: $white;
}

@mixin default-card-title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  line-height: 24px;
  padding: $space-default;
  margin: 0;
}

@mixin default-card-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 0 $space-default;
  margin: 0;
}

@mixin default-card-footer {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding: $space-medium $space-default $space-default $space-default;
  display: flex;
  flex-direction: row;
  align-items: center;
}